{% extends "base.html" %}
{% block title %}首页-ka6{% endblock %}
{% block csslink %}<link href="/static/css/index.css" rel="stylesheet">{% endblock %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
{% if not session.logged_in %}
<div class="jumbotron">
  <div class="container">
    <h1>ka6</h1>
    <p>做生活的主宰</p>
    <p><a class="btn btn-primary btn-lg" href="/signup?step=init" role="button">注册</a></p>
  </div>
</div>
<hr>
{% else %}
<div class="jumbotron">
  <div class="container">
    <h1>ka6</h1>
    <p>{{ session.user_name }}, 你好</p>
  </div>
</div>
{% endif %}
{% endblock %}